/* Google font import */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");


/* Fonts */
h1 {
    font-size: 2rem;
}

h2 {
    font-size: 2rem;
}

body {
    font-family: 'Press Start 2P', sans-serif;
}

/* Structural CSS */

/* Banner, option buttons and title*/
.game-info-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.game-option-container {
    padding: 5rem;
}

.game-option-button {
    margin: 2rem;
}

/* Game section */

.game-section {
    display: grid;
}

.player-weapon-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

section>div {
    justify-self: center;
    grid-row: auto;
}

/* Footer */

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}