/* Google font import */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");


/* Fonts */
h1 {
    font-size: 2rem;
}

h2 {
    font-size: 2rem;
}

body {
    font-family: 'Press Start 2P', sans-serif;
}

/* Structural CSS */

.game-info-banner {
    display: flex;
    justify-content: space-between;
}

.game-option-container {
    padding: 5rem;
}

.game-option-button {
    margin: 2rem;
}