/* Google font import */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");


/* Fonts */
h1 {
    font-size: 2rem;
    letter-spacing: 3px;
}

h2 {
    font-size: 2rem;
    letter-spacing: 12px;
}

body {
    font-family: 'Press Start 2P', sans-serif;
    background-color: rgb(182, 182, 201);
}

/* Structural CSS */

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Banner, option buttons and title*/
.game-info-banner {
    display: flex;
    justify-content: space-between;

}

.game-options-container {
    padding: 4rem;
    margin-left: 2rem;
}

.help-menu-button {
    margin: 0.625rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: white;
    border-width: 3px;
    border-style: solid;
    font-size: 41px;
    cursor: pointer;
}

.game-refresh-button {
    margin: 0.625rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: white;
    border-width: 3px;
    border-style: solid;
    font-size: 41px;
    cursor: pointer;
}

.game-refresh-button:hover {
    background-color: black;
    color: white;
}

.help-menu-button:hover {
    background-color: black;
    color: white;
}

.game-title {
    padding-left: 2rem;
    padding-top: 1rem;
}

/* Game section */


/* Weapon selection */

.weapon-choice-instruction {
    text-align: center;
    padding-left: 20px;
}

.player-weapon-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 4rem;
}

.hands-image {
    border-radius: 50%;
    width: 140px;
    height: 140px;
}

.player-weapon-choice-button {
    background: none;
    border: none;
    cursor: pointer;
    flex-wrap: wrap;
    transition: 0.5s;
}

.player-weapon-choice-button:hover {
    transform: scale(1.3);
}

/* Arena section */
.arena-terminal {
    display: grid;
    justify-content: center;
    grid-template-columns: 220px 220px 220px;
    grid-template-rows: 50px 50px 50px;
    justify-items: left;
    align-items: baseline;
    margin-top: 3rem;
    padding-left: 5rem;
}

.player-choice-output {
    grid-row: 1/3;
}

.computer-choice-output {
    grid-row: 1/3;
    grid-column: 3/3;
}

.arena-victor-output {
    grid-column: 2/3;
    grid-row: 3/3;
}

/* Results section */

.overall-results {
    display: grid;
    justify-content: center;
    grid-template-columns: 220px 220px 220px;
    grid-template-rows: 50px 50px 50px;
    justify-items: center;
    align-items: baseline;
    margin-top: 3rem;
    padding-left: 5rem;
}

.player-score {
    grid-row: 3/3;
}

.computer-score {
    grid-row: 3/3;
    grid-column: 3/3;
}

.round-number {
    grid-column: 2/2;
}


/* Footer */

footer {
    padding-top: 3.125rem;
    text-align: center;
    width: 100%;

}

.footer-media-link {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.footer-media-link:hover {
    border-bottom: 5px black solid;
    color: white;
}

/* Modal */

.modal-header {
    padding-bottom: 2rem;
}

.rule-hands {
    width: 50px;
    border-radius: 50%;
}

.modal-outer-container {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 87rem;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

.inner-modal-container {
    background-color: gray;
    margin: 12rem auto;
    padding: 14px;
    border: 1px solic #888;
    width: 80%;
    text-align: center;
}

.return-button {
    border-radius: 5%;
    background-color: white;
    font-family: inherit;
    margin: 2rem;
    padding: 0.5rem;
    border: solid;
}

.return-button:hover {
    transform: (1.2);
    background-color: black;
    color: white;
}

div>ul {
    list-style-type: none;
}

/* Media Queries */

@media screen and (max-width: 725px) {

    /* Arena section */
    .arena-victor-output {
        grid-row: 3/3;
        grid-column: 2/3;
    }

    .computer-choice-output {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .player-choice-output {
        grid-row: 1/3;
        grid-column: 2/2;
    }

    /* Results section */
    .computer-score {
        grid-row: 3/3;
        grid-column: 2/3;
    }

    .player-score {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .round-number {
        grid-row: 1/3;
        grid-column: 2/2;
    }

    .player-weapon-choice-button:hover {
        transform: scale(1.2);
    }

    .hands-image {
        border-radius: 50%;
        width: 110px;
        height: 110px;
    }
}

@media screen and (max-width: 650) {
    .game-options-container {
        padding: 1rem 0rem 3rem 5rem;
    }

    .help-menu-button {

        margin: 0.625rem;
    }

    .game-refresh-button {

        margin: 0.625rem;
    }
}

@media screen and (max-width: 590px) {
    .game-info-banner {
        flex-wrap: wrap;
    }

    .player-weapon-choice-button:hover {
        transform: scale(1.1);
    }
}